Repository EzzioMoreira/terraform-atlantis: changes, and which Atlantis projects are due for each by the changed paths.
All: app-rapadura-dev, s3-dev

atlantis.yaml:

version: 3
automerge: false
projects:
  - name: app-rapadura-dev
    dir: ./infrastructure/app-rapadura
    workspace: dev
    autoplan:
      enabled: true
      when_modified: ["*.tf"]
    apply_requirements: []

  - name: app-rapadura-stg
    dir: ./infrastructure/app-rapadura
    workspace: stg
    autoplan:
      enabled: false
      when_modified: ["*.tf"]
    apply_requirements: []

  - name: app-rapadura-prd
    dir: ./infrastructure/app-rapadura
    workspace: prd
    autoplan:
      enabled: false
      when_modified: ["*.tf"]
    apply_requirements: [mergeable, approved]

  - name: s3-dev
    dir: ./infrastructure/s3
    workspace: dev
    autoplan:
      enabled: true
      when_modified: ["*.tf"]
    apply_requirements: []

  - name: s3-stg
    dir: ./infrastructure/s3
    workspace: stg
    autoplan:
      enabled: false
      when_modified: ["*.tf"]
    apply_requirements: []

  - name: s3-prd
    dir: ./infrastructure/s3
    workspace: prd
    autoplan:
      enabled: false
      when_modified: ["*.tf"]
    apply_requirements: [mergeable, approved]

feat: adiciona infra (#22)
  .gitignore
  README.md
  app-rapadura/backend.tf
  atlantis.yaml
  infrastructure/app-rapadura/backend.tf
  infrastructure/app-rapadura/local.tf
  infrastructure/app-rapadura/main.tf
  infrastructure/app-rapadura/outputs.tf
  infrastructure/app-rapadura/provider.tf
  infrastructure/app-rapadura/version.tf
  infrastructure/s3/backend.tf
  infrastructure/s3/local.tf
  infrastructure/s3/main.tf
  infrastructure/s3/outputs.tf
  infrastructure/s3/provider.tf
  infrastructure/s3/version.tf
Due: app-rapadura-dev, s3-dev

feat: adiciona bucket s3
  infrastructure/s3/local.tf
Due: s3-dev

feat: adiciona bucket s3 (#23)
  infrastructure/s3/local.tf
Due: s3-dev

feat: adiciona template pr
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Due: none

fix: template pr
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

test: aplica infra
  .github/PULL_REQUEST_TEMPLATE.md
  infrastructure/app-rapadura/local.tf
Due: app-rapadura-dev

test: aplica infra (#24)
  .github/PULL_REQUEST_TEMPLATE.md
  infrastructure/app-rapadura/local.tf
Due: app-rapadura-dev

test: teste meetup
  infrastructure/app-rapadura/local.tf
Due: app-rapadura-dev

test: teste meetup (#25)
  infrastructure/app-rapadura/local.tf
Due: app-rapadura-dev

test: teste meetup (#26)
  infrastructure/app-rapadura/local.tf
Due: app-rapadura-dev

test: teste meetup (#27)
  infrastructure/app-rapadura/local.tf
Due: app-rapadura-dev

test: remove infra
  infrastructure/app-rapadura/local.tf
Due: app-rapadura-dev

test: remove infra (#28)
  infrastructure/app-rapadura/local.tf
Due: app-rapadura-dev

test: teste de atlantis
  README.md
  img/ngrok-forwarding.png
  infrastructure/s3/local.tf
Due: s3-dev
